---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: contract-deployer
  namespace: {{ .Release.Namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: contract-deployer-role
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "create", "update", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: contract-deployer-binding
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: contract-deployer-role
subjects:
- kind: ServiceAccount
  name: contract-deployer
  namespace: {{ .Release.Namespace }}
